.orders-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.delete-btn {
    border: transparent;
    border-radius: 50%;
}

.delete-img {
    width: 25px;
    height: 25px;
}