#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-box {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}

.item-order,
.add-items {
  border: 2px solid #808080;
  border-radius: 10px;
}

.buttons-container {
  display: flex;
  margin: 10px;
  align-items: center;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
